In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
EUR_JPY_M1 = pd.read_csv('./data/EUR_JPY_200101022301202012312359_M1.csv')

In [3]:

print('dataframeの各列のデータ型を確認==>\n', EUR_JPY_M1.dtypes)

EUR_JPY_M1['D'] = EUR_JPY_M1['<DTYYYYMMDD>'].apply(str)
EUR_JPY_M1['T'] = EUR_JPY_M1['<TIME>'].apply(str)

dataframeの各列のデータ型を確認==>
 <TICKER>         object
<DTYYYYMMDD>      int64
<TIME>            int64
<OPEN>          float64
<HIGH>          float64
<LOW>           float64
<CLOSE>         float64
<VOL>             int64
dtype: object

In [4]:
print('dataframeの各列のデータ型を確認==>\n', EUR_JPY_M1.dtypes)

dataframeの各列のデータ型を確認==>
 <TICKER>         object
<DTYYYYMMDD>      int64
<TIME>            int64
<OPEN>          float64
<HIGH>          float64
<LOW>           float64
<CLOSE>         float64
<VOL>             int64
D                object
T                object
dtype: object

In [5]:
print(type(EUR_JPY_M1['T'][49]))

<class 'str'>

In [6]:
EUR_JPY_M1['YYYY'] = EUR_JPY_M1['D'].str[:4]
EUR_JPY_M1['MM'] = EUR_JPY_M1['D'].str[4:6]
EUR_JPY_M1['DD'] = EUR_JPY_M1['D'].str[6:8]
EUR_JPY_M1['hh'] = EUR_JPY_M1['T'].str[-6:-4]
EUR_JPY_M1['mm'] = EUR_JPY_M1['T'].str[-4:-2]
EUR_JPY_M1['ss'] = EUR_JPY_M1['T'].str[-2:-0]
#時間列に空白があるためいったんNaNに置き換える
EUR_JPY_M1['hh'] = EUR_JPY_M1['hh'].replace(r'^\s*$', np.nan, regex=True)
EUR_JPY_M1['mm'] = EUR_JPY_M1['mm'].replace(r'^\s*$', np.nan, regex=True)
EUR_JPY_M1['ss'] = EUR_JPY_M1['ss'].replace(r'^\s*$', np.nan, regex=True)
#NaNを00に置き換え直す
#EUR_JPY_M1 = EUR_JPY_M1.fillna({'hh': '00', 'mm': '00', 'ss': '00'})
EUR_JPY_M1.fillna({'hh': '00', 'mm': '00', 'ss': '00'}, inplace=True)
#EUR_JPY_M1.where(EUR_JPY_M1['ss'].notnull(), '00')
#EUR_JPY_M1.fillna({'hh': '00', 'mm': '00', 'ss': '00'})
#EUR_JPY_M1['hh'] = EUR_JPY_M1['hh'].str.replace('', '00')
#EUR_JPY_M1['mm'] = EUR_JPY_M1['mm'].str.replace('', '00')
#EUR_JPY_M1['ss'] = EUR_JPY_M1['ss'].str.replace(None, '00')
#EUR_JPY_M1 =EUR_JPY_M1.drop('HH', axis=1)
#EUR_JPY_M1 =EUR_JPY_M1.drop('SS', axis=1)

In [7]:
#EUR_JPY_M1['<TICKER>']
#pd.to_datetime(EUR_JPY_M1['<DTYYYYMMDD>'])
#def conv(temp):
#    H, M, S = map(int, temp.split(':'))
#    return datetime.timedelta(hours=H, minutes=M, second=S)


#EUR_JPY_M1['datetaime'] = EUR_JPY_M1['<DTYYYYMMDD>'] + EUR_JPY_M1['<TIME>'].apply(conv)
#EUR_JPY_M1['<YYYYMMDDHHMM>'] = pd.to_datetime(EUR_JPY_M1['<DTYYYYMMDD>'].apply(str) +' '+EUR_JPY_M1['<TIME>'].apply(str), format='%Y%m%d %H:%M')
#EUR_JPY_M1['<DT>'] = pd.to_datetime(EUR_JPY_M1['D'] +' '+EUR_JPY_M1['T'], format='%Y%m%d %H:%M')
#EUR_JPY_M1['<DT>'] = pd.to_datetime(EUR_JPY_M1['D'] +' '+EUR_JPY_M1['T'])
#EUR_JPY_M1['<DT>'] = pd.to_datetime(EUR_JPY_M1['YYYY'] + '/' + EUR_JPY_M1['MM'] + '/' + EUR_JPY_M1['DD'] + ' ' + EUR_JPY_M1['hh'] + ':' + EUR_JPY_M1['mm'] + ':' + EUR_JPY_M1['ss'])
EUR_JPY_M1['DT'] = EUR_JPY_M1['YYYY'] + '/' + EUR_JPY_M1['MM'] + '/' + EUR_JPY_M1['DD'] + ' ' + EUR_JPY_M1['hh'] + ':' + EUR_JPY_M1['mm'] + ':' + EUR_JPY_M1['ss']
#EUR_JPY_M1['datetime'] = pd.to_datetime(EUR_JPY_M1['D'] + ' ' + EUR_JPY_M1['T'].astype(str) + ':00', format='%Y-%m-%d %H:%M')
#EUR_JPY_M1['datetime'] = pd.to_datetime(EUR_JPY_M1['D'] + ' ' + EUR_JPY_M1['T'].astype(str) + ':00', format='%Y-%m-%d %H:%M')

In [8]:
EUR_JPY_M1.isnull().sum()

<TICKER>        0
<DTYYYYMMDD>    0
<TIME>          0
<OPEN>          0
<HIGH>          0
<LOW>           0
<CLOSE>         0
<VOL>           0
D               0
T               0
YYYY            0
MM              0
DD              0
hh              0
mm              0
ss              0
DT              0
dtype: int64

In [9]:
#pd.get_option("display.max_rows")
#pd.set_option('display.max_rows', 500)

In [10]:
#EUR_JPY_M1['hh'][49].isnull()

In [11]:
EUR_JPY_M1 = EUR_JPY_M1.set_index('DT')
EUR_JPY_M1 = EUR_JPY_M1.rename(columns={'<OPEN>': 'EURJPYOPEN', '<HIGH>': 'EURJPYHIGH', '<LOW>': 'EURJPYLOW', '<CLOSE>': 'EURJPYCLOSE', '<VOL>': 'EURJPYVOL'})
EUR_JPY_M1 = EUR_JPY_M1.drop(['<TICKER>', '<DTYYYYMMDD>', '<TIME>', 'D', 'T', 'YYYY', 'MM', 'DD', 'hh', 'mm', 'ss'], axis=1)

In [34]:
print(EUR_JPY_M1.index.dtype)

object

In [13]:
EUR_JPY_M1.isnull().sum()

EURJPYOPEN     0
EURJPYHIGH     0
EURJPYLOW      0
EURJPYCLOSE    0
EURJPYVOL      0
dtype: int64

In [14]:
EUR_USD_M1 = pd.read_csv('./data/EUR_USD200101022301-202012312359_M1.csv')
EUR_USD_M1['D'] = EUR_USD_M1['<DTYYYYMMDD>'].apply(str)
EUR_USD_M1['T'] = EUR_USD_M1['<TIME>'].apply(str)
EUR_USD_M1['YYYY'] = EUR_USD_M1['D'].str[:4]
EUR_USD_M1['MM'] = EUR_USD_M1['D'].str[4:6]
EUR_USD_M1['DD'] = EUR_USD_M1['D'].str[6:8]
EUR_USD_M1['hh'] = EUR_USD_M1['T'].str[-6:-4]
EUR_USD_M1['mm'] = EUR_USD_M1['T'].str[-4:-2]
EUR_USD_M1['ss'] = EUR_USD_M1['T'].str[-2:-0]
#時間列に空白があるためいったんNaNに置き換える
EUR_USD_M1['hh'] = EUR_USD_M1['hh'].replace(r'^\s*$', np.nan, regex=True)
EUR_USD_M1['mm'] = EUR_USD_M1['mm'].replace(r'^\s*$', np.nan, regex=True)
EUR_USD_M1['ss'] = EUR_USD_M1['ss'].replace(r'^\s*$', np.nan, regex=True)
#NaNを00に置き換え直す
#EUR_JPY_M1 = EUR_JPY_M1.fillna({'hh': '00', 'mm': '00', 'ss': '00'})
EUR_USD_M1.fillna({'hh': '00', 'mm': '00', 'ss': '00'}, inplace=True)
EUR_USD_M1['DT'] = EUR_USD_M1['YYYY'] + '/' + EUR_USD_M1['MM'] + '/' + EUR_USD_M1['DD'] + ' ' + EUR_USD_M1['hh'] + ':' + EUR_USD_M1['mm'] + ':' + EUR_USD_M1['ss']
EUR_USD_M1 = EUR_USD_M1.set_index('DT')
EUR_USD_M1 = EUR_USD_M1.rename(columns={'<OPEN>': 'EURJPYOPEN', '<HIGH>': 'EURJPYHIGH', '<LOW>': 'EURJPYLOW', '<CLOSE>': 'EURJPYCLOSE', '<VOL>': 'EURJPYVOL'})
EUR_USD_M1 = EUR_USD_M1.rename(columns={'EURJPYOPEN': 'EURUSDOPEN', 'EURJPYHIGH': 'EURUSDHIGH', 'EURJPYLOW': 'EURUSDLOW', 'EURJPYCLOSE': 'EURUSDCLOSE', 'EURJPYVOL': 'EURUSDVOL'})
EUR_USD_M1 = EUR_USD_M1.drop(['<TICKER>', '<DTYYYYMMDD>', '<TIME>', 'D', 'T', 'YYYY', 'MM', 'DD', 'hh', 'mm', 'ss'], axis=1)

In [15]:
EUR_USD_M1

                     EURUSDOPEN  EURUSDHIGH  EURUSDLOW  EURUSDCLOSE  EURUSDVOL
DT
2001/01/02 23:01:00      0.9507      0.9507     0.9507       0.9507          4
2001/01/02 23:02:00      0.9506      0.9506     0.9505       0.9505          4
2001/01/02 23:03:00      0.9505      0.9507     0.9505       0.9506          4
2001/01/02 23:04:00      0.9506      0.9506     0.9506       0.9506          4
2001/01/02 23:05:00      0.9506      0.9506     0.9506       0.9506          4
...                         ...         ...        ...          ...        ...
2020/12/31 23:55:00      1.2215      1.2215     1.2215       1.2215          4
2020/12/31 23:56:00      1.2215      1.2215     1.2215       1.2215          4
2020/12/31 23:57:00      1.2215      1.2215     1.2215       1.2215          4
2020/12/31 23:58:00      1.2215      1.2215     1.2215       1.2215          4
2020/12/31 23:59:00      1.2215      1.2215     1.2215       1.2215          4

[7078068 rows x 5 columns]

In [16]:
EUR_USD_M1.isnull().sum()

EURUSDOPEN     0
EURUSDHIGH     0
EURUSDLOW      0
EURUSDCLOSE    0
EURUSDVOL      0
dtype: int64

In [17]:
USD_JPY_M1 = pd.read_csv('./data/USD_JPY200101022303-202012312359_M1.csv')
USD_JPY_M1['D'] = USD_JPY_M1['<DTYYYYMMDD>'].apply(str)
USD_JPY_M1['T'] = USD_JPY_M1['<TIME>'].apply(str)
USD_JPY_M1['YYYY'] = USD_JPY_M1['D'].str[:4]
USD_JPY_M1['MM'] = USD_JPY_M1['D'].str[4:6]
USD_JPY_M1['DD'] = USD_JPY_M1['D'].str[6:8]
USD_JPY_M1['hh'] = USD_JPY_M1['T'].str[-6:-4]
USD_JPY_M1['mm'] = USD_JPY_M1['T'].str[-4:-2]
USD_JPY_M1['ss'] = USD_JPY_M1['T'].str[-2:-0]
#時間列に空白があるためいったんNaNに置き換える
USD_JPY_M1['hh'] = USD_JPY_M1['hh'].replace(r'^\s*$', np.nan, regex=True)
USD_JPY_M1['mm'] = USD_JPY_M1['mm'].replace(r'^\s*$', np.nan, regex=True)
USD_JPY_M1['ss'] = USD_JPY_M1['ss'].replace(r'^\s*$', np.nan, regex=True)
#NaNを00に置き換え直す
#EUR_JPY_M1 = EUR_JPY_M1.fillna({'hh': '00', 'mm': '00', 'ss': '00'})
USD_JPY_M1.fillna({'hh': '00', 'mm': '00', 'ss': '00'}, inplace=True)
USD_JPY_M1['DT'] = USD_JPY_M1['YYYY'] + '/' + USD_JPY_M1['MM'] + '/' + USD_JPY_M1['DD'] + ' ' + USD_JPY_M1['hh'] + ':' + USD_JPY_M1['mm'] + ':' + USD_JPY_M1['ss']
USD_JPY_M1 = USD_JPY_M1.set_index('DT')
USD_JPY_M1 = USD_JPY_M1.rename(columns={'<OPEN>': 'USDJPYOPEN', '<HIGH>': 'USDJPYHIGH', '<LOW>': 'USDJPYLOW', '<CLOSE>': 'USDJPYCLOSE', '<VOL>': 'USDJPYVOL'})
USD_JPY_M1 = USD_JPY_M1.drop(['<TICKER>', '<DTYYYYMMDD>', '<TIME>', 'D', 'T', 'YYYY', 'MM', 'DD', 'hh', 'mm', 'ss'], axis=1)

In [33]:
USD_JPY_M1.index

Index(['2001/01/02 23:03:00', '2001/01/02 23:04:00', '2001/01/02 23:05:00',
       '2001/01/02 23:07:00', '2001/01/02 23:08:00', '2001/01/02 23:09:00',
       '2001/01/02 23:11:00', '2001/01/02 23:12:00', '2001/01/02 23:13:00',
       '2001/01/02 23:14:00',
       ...
       '2020/12/31 23:50:00', '2020/12/31 23:51:00', '2020/12/31 23:52:00',
       '2020/12/31 23:53:00', '2020/12/31 23:54:00', '2020/12/31 23:55:00',
       '2020/12/31 23:56:00', '2020/12/31 23:57:00', '2020/12/31 23:58:00',
       '2020/12/31 23:59:00'],
      dtype='object', name='DT', length=7090995)

In [19]:
USD_JPY_M1.isnull().sum()

USDJPYOPEN     0
USDJPYHIGH     0
USDJPYLOW      0
USDJPYCLOSE    0
USDJPYVOL      0
dtype: int64

In [20]:
#pd.DataFrame({"日付": [pd.to_datetime("2018-2-14") + timedelta(days=i) for i in range(5)]})
DT_all = pd.DataFrame(index=pd.date_range(start='2001/01/02 23:01:00', end='2020/12/31 23:59:00', freq='T'))
#DT = pd.date_range(start='2001/01/02 23:01:00', end='2001/01/02 23:01:00', freq='M')
#M1 = dataframe(range(5), index=DT)

In [32]:
DT_all.index

DatetimeIndex(['2001-01-02 23:01:00', '2001-01-02 23:02:00',
               '2001-01-02 23:03:00', '2001-01-02 23:04:00',
               '2001-01-02 23:05:00', '2001-01-02 23:06:00',
               '2001-01-02 23:07:00', '2001-01-02 23:08:00',
               '2001-01-02 23:09:00', '2001-01-02 23:10:00',
               ...
               '2020-12-31 23:50:00', '2020-12-31 23:51:00',
               '2020-12-31 23:52:00', '2020-12-31 23:53:00',
               '2020-12-31 23:54:00', '2020-12-31 23:55:00',
               '2020-12-31 23:56:00', '2020-12-31 23:57:00',
               '2020-12-31 23:58:00', '2020-12-31 23:59:00'],
              dtype='datetime64[ns]', length=10516379, freq='T')

In [22]:
#DT_concat = pd.concat([DT, EUR_JPY_M1], axis=1).reindex(DT.index)#, EUR_USD_M1, USD_JPY_M1
DT_concat = pd.merge(DT_all, EUR_JPY_M1, left_index=True, right_on='DT')

ValueError: You are trying to merge on datetime64[ns] and object columns. If you wish to proceed you should use pd.concat

In [ ]:
DT_concat[49:98]

In [ ]:
#merge_EUR_JPY_M1_EUR_USD_M1 = pd.merge(EUR_JPY_M1, EUR_USD_M1, on='DT', how='outer')

In [ ]:
#merge_EUR_JPY_M1_EUR_USD_M1_USD_JPY_M1 = pd.merge(merge_EUR_JPY_M1_EUR_USD_M1, USD_JPY_M1, on='DT', how='outer')

In [ ]:
#merge_EUR_JPY_M1_EUR_USD_M1_USD_JPY_M1

In [ ]:
#merge_EUR_JPY_M1_EUR_USD_M1_USD_JPY_M1.isnull().sum()

In [ ]:
#df.sort_index(axis=1, ascending=False)